<!DOCTYPE html>
<html>
<head>
    <title>Weather Information</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Weather Information for {{ city }}</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="table-responsive"> <!-- Add the 'table-responsive' class -->
                  <h2>Raw weather data:</h2>
                  <table class="table">
          			    <tr>
              				<th>Current Temperature</th>
              				<td>{{ temperature }} &#8451;</td>
          			    </tr>
          			    <tr>
              				<th>Feels Like</th>
              				<td>{{ feels_like_celsius }} &#8451;</td>
          			    </tr>
          			    <tr>
              				<th>Minimum Temperature</th>
              				<td>{{ temp_min_celsius }} &#8451;</td>
          			    </tr>
          			    <tr>
          				    <th>Maximum Temperature</th>
          				    <td>{{ temp_max_celsius }} &#8451;</td>
          			    </tr>
          			    <tr>
          				    <th>Humidity</th>
          				    <td>{{ humidity }}%</td>
          			    </tr>
          			    <tr>
          				    <th>Visibility</th>
          				    <td>{{ visibility_meters }} meters</td>
          			    </tr>
          			    <tr>
          				<th>Wind Speed</th>
          				<td>{{ wind_speed }} m/s</td>
          			    </tr>
          			    <tr>
          				<th>Wind Degrees</th>
          				<td>{{ wind_degrees }} degrees</td>
          			    </tr>
          			    <tr>
          				<th>Cloudiness</th>
          				<td>{{ cloudiness_percent }}%</td>
          			    </tr>
          			    <tr>
          				<th>Sunrise Time</th>
          				<td>{{ sunrise_time }}</td>
          			    </tr>
          			    <tr>
          				<th>Sunset Time</th>
          				<td>{{ sunset_time }}</td>
          			    </tr>
          			</table>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Original Weather Description from JSON -->
                <div class="mb-4">
                    <h2>Weather Description:</h2>
                    <p>{{ weather_description }}</p>
                </div>

                <!-- Weather Advice from OpenAI API -->
                <div>
                    <h2>Weather Advice:</h2>
                    <p>{{ weather_advice }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts at the end of the body tag -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
